@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    background-image:url(background2.jpg);
    background-size: 100% 100%;
    background-color: #f1f1f1;
    color:#0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family:  'Roboto Condensed', sans-serif;
}
.ava{
    width: 200px;
    border-radius: 28px;
    box-shadow: -11px 11px 0px rgba(150, 31, 31, 0.25);

}
#nam{
    color: rgb(90, 76, 30);
    letter-spacing: 2px;
}
.inf{
    color:#86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /*text-transform: capitalize;*/
}
.social{
    margin-bottom: 20px;
}
.container{
    max-width: 90%;
    margin: auto;
    padding-top: 30px;
    background-size: 100% 100%;
}
a{
    color: black;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a:active{
    color: blue; /*когда с мышкой нажимаеш*/
}
/*a:visited{
    color:grey; /*отметка посешенного сайта*/

.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}    
.bg-yellow{
    background: #ECE0F5; /*fff9dc */
}
.bg-green{
    background: #e5ffe7;
}
.bg-red{
    background: #ffe5e5;
}
.list{
    padding: 0 20px;
    list-style: none;
}
.card h3{
    margin-bottom: 10px;
}
.table{
    width: 100%;
}
.link-list td{
    border-bottom: 1px solid #ccc;
}
.contact h3 {
    text-align:center;
}
.form-group label{
    display: block;
    font-size: 14px;
    color:#86898f;
}
.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
.row{
    display: flex;
    margin-bottom: 20px;
}
.row > .form-group{
    width: 50%;
    margin-right: 20px;
}
.row > .form-group:last-child{
    margin-right: 0;
}
.info{
    display: flex;
    padding-bottom: 30px;
}
@media (max-width:700px){
    .info {
        text-align: center;
        display: block;
    }
}
.info-text{
    margin-left: 40px;
}
.info-text h1{
    margin-bottom: 10px;
}
.btn{
    background:rgb(10, 10, 10);
    padding: 12px 30px;
    color:#fff;
    border:none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
}
.btn:hover {
    opacity: 0.9;
}
.upd{
    text-align: right;
    width: 95%;
    padding-top: 30px;
    color:rgb(50, 30, 66);
}
.prod{
    vertical-align: 0.2em;
}
.j1{
    color:#86898f;
}
/*.cub{
    
}
.cub2{
    width:50px;
    height: 50px;
    background:green;
}
/*.table td:nth-child(even){
    background:#c7b3bb;
    border-radius: 3px;
}
.table td:nth-child(odd){
    background:#c7b3bb;
    border-radius: 3px;
}
.table td:nth-child(3){
    color:#86898f;
}*/