@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Josefin+Sans:wght@600&family=Press+Start+2P&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Josefin+Sans:wght@600&family=Press+Start+2P&family=Roboto+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 700px;
    display: flex;
    margin: 40px auto;
    background-image: url(back4.jpg);
    background-size: 100%;
}
.cont{
    font-family:'Josefin Sans', sans-serif;
    color: #2E0F1E;
    position: relative;
    display: inline-block;
    background: #A29890FF;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 25px;
    margin: auto;
}
.mes{
    margin: 15px
}    
.mes input{
    /* margin: 0 30px 0 60px ; */
}
.mes label{
    /* margin: 0 0 0 30px; */
}
#text{
    position: absolute;
    right: 30px;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:#B8B9BDFF;
    padding: 2px;
    color: rgb(42, 70, 43);
    font-family:'Josefin Sans', sans-serif;
}
#text2{
    position: absolute;
    right: 30px;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:#B8B9BDFF;
    padding: 2px;
    color: rgb(42, 70, 43);
    font-family:'Josefin Sans', sans-serif;
}
#text3{
    position: absolute;
    right: 30px;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:#B8B9BDFF;
    padding: 2px;
    color: rgb(42, 70, 43);
    font-family:'Josefin Sans', sans-serif;
}
#email{
    position: absolute;
    right: 30px;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:#B8B9BDFF;
    padding: 2px;
    color: rgb(42, 70, 43);
    font-family:'Josefin Sans', sans-serif;
}
#password{
    position: absolute;
    right: 30px;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:#B8B9BDFF;
    padding: 2px;
    color: rgb(42, 70, 43);
    font-family:'Josefin Sans', sans-serif;
}
#date{
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    right: 30px;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:#B8B9BDFF;
    padding: 2px;
    color: rgb(42, 70, 43);
    font-family:'Josefin Sans', sans-serif;
}
#male{
    margin-left: 15px;
    background: black;
}
#female{
    margin-left: 10px;
}
#other{
    margin-left: 10px;
    margin-right: 3px;
}
#number{
    position: absolute;
    right: 30px;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:#B8B9BDFF;
    padding: 2px;
    color: rgb(42, 70, 43);
    font-family:'Josefin Sans', sans-serif;
}
#message{
    position: absolute;
    right: 30px;
    border:none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background:#B8B9BDFF;
    padding: 2px;
    color: rgb(42, 70, 43);
    font-family:'Josefin Sans', sans-serif;
}
.btn{
    margin-top: 80px;
    margin-left: 30%;
}
.btn1{
    width: 70px;
    height: 30px;
    border-radius: 7px;
    border:none;
    background:rgb(43, 35, 40);
    color: #D5E7F1;
    cursor: pointer;
}
.btn1:hover{
    opacity: 0.8;
    color:#D0397EFF;
}
.btn2{
    margin-left: 10px;
    width: 70px;
    height: 30px;
    border-radius: 7px;
    border:none;
    background:rgb(43, 35, 40);
    color: #D5E7F1;
    cursor: pointer;
}
.btn2:hover{
    opacity: 0.8;
    color:#b7f17d;
}
.cont h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
}